body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.client-row.connected {
    background-color: lightgreen;
}

.client-row {
    background-color: lightgray;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr {
    line-height: 32px;
}

.force-disconnect-button {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-style: none;
}
