body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.client-row.connected {
    background-color: lightgreen;
}

.client-row {
    background-color: lightgray;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr {
    min-height: 24px;
}
